@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --font-karla: "Karla", sans-serif;

  --color-*: initial;
  --color-white: #ffffff;
  --color-grey-900: #2a4144;
  --color-grey-500: #86a2a5;
  --color-green-600: #0c7d69;
  --color-green-200: #e0f1e8;
  --color-red: #d73c3c;
}

body {
  @apply bg-green-200;
}
